export HUB_PROJECT_NAMESPACE=hub-avesha-tenant-cisco
export HUB_HOST_ENDPOINT=https://35.190.142.81
export HUB_TOKEN_FILE=your/token/file/path
export HUB_CA_FILE=your/ca/file/path
export ENABLE_WEBHOOKS=false
export WEBHOOK_CERTS_DIR=your/certs/dir
export LOG_LEVEL=DEBUG
export CLUSTER_NAME=clustername
export AVESHA_VL3_ROUTER_IMAGE=nexus.dev.aveshalabs.io/avesha/vl3_ucnf-nse:1.0.0
export AVESHA_VL3_ROUTER_PULLPOLICY=IfNotPresent
export AVESHA_VL3_SIDECAR_IMAGE=nexus.dev.aveshalabs.io/kubeslice-router-sidecar:dd636932-213a-4d6a-b88e-164d1108c587-SNAPSHOT
export AVESHA_VL3_SIDECAR_IMAGE_PULLPOLICY=IfNotPresent
