export HUB_PROJECT_NAMESPACE=hub-avesha-tenant-cisco
export HUB_HOST_ENDPOINT=https://35.190.142.81
export HUB_TOKEN_FILE=your/token/file/path
export HUB_CA_FILE=your/ca/file/path
export ENABLE_WEBHOOKS=false
export WEBHOOK_CERTS_DIR=your/certs/dir
export LOG_LEVEL=DEBUG
export CLUSTER_NAME=clustername
