apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: kubeslice-system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: false
      serviceAccountName: kubeslice-controller-manager
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: avesha/kubeslice-operator:1.0.0
        name: manager
        env:
          - name: HUB_HOST_ENDPOINT
            value: "https://10.1.80.11:6443"
          - name: HUB_PROJECT_NAMESPACE
            value: "hub-avesha-tenant-cisco"
          - name: ENABLE_WEBHOOKS
            value: "false"
          - name: CLUSTER_NAME
            value: "cluster-1"
          - name: NODE_IP
            value: "1.2.3.4"
        volumeMounts:
          - mountPath: /var/run/secrets/kubernetes.io/hub-serviceaccount
            name: hub-token
            readOnly: true
          - mountPath: /etc/webhook/certs
            name: webhook-certs
            readOnly: true
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      terminationGracePeriodSeconds: 10
      volumes:
        - name: webhook-certs
          secret:
            secretName: kubeslice-admission-webhook-certs
        - name: hub-token
          secret:
            defaultMode: 420
            secretName: hub-avesha-tenant-token
