events:
  - name: NetPolViolation
    reason: PolicyViolation
    action: PolicyMonitoring
    type: Warning
    reportingController: worker
    message: Network policy violation - please ask admin to check the network policy configuration on the worker cluster. <link to tech doc event-list>
  - name: ClusterUnhealthy
    reason: ComponentStatusChange
    action: CheckComponents
    type: Warning
    reportingController: worker
    message: Cluster is unhealthy - Please check if all worker components are running as expected
  - name: ClusterHealthy
    reason: ComponentStatusChange
    action: None
    type: Normal
    reportingController: worker
    message: Cluster is healthy - Cluster is back to healthy state
  - name: ClusterNodeIpAutoDetected
    reason: ClusterNodeIpAutoDetected
    action: None
    type: Normal
    reportingController: worker
    message: Auto-detection of cluster node IP addresses was successful due to changes detected in the worker nodes
  - name: ClusterNodeIpAutoDetectionFailed
    reason: ClusterNodeIpAutoDetectionFailed
    action: None
    type: Warning
    reportingController: worker
    message: Auto-detection of cluster node IP addresses failed
  - name: DeregistrationJobFailed
    reason: DeregistrationJobFailed
    action: None
    type: Warning
    reportingController: worker
    message: Failed to complete cluster deregistration job