# This yaml is used to generate self signed certs using cert-manager
# for webhook configuration
# Prerequisite: cert-manager should be installed
# https://cert-manager.io/docs/installation/helm/
---
apiVersion: v1
kind: Namespace
metadata:
  name: sandbox
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: my-selfsigned-ca
  namespace: sandbox
spec:
  isCA: true
  commonName: my-selfsigned-ca
  secretName: root-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: my-ca-issuer
  namespace: sandbox
spec:
  ca:
    secretName: root-secret
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: serving-cert
  namespace: sandbox
spec:
  dnsNames:
  - kubeslice-webhook-service.kubeslice-system.svc
  - kubeslice-webhook-service.kubeslice-system.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: my-ca-issuer
  # The generated Certificate will be added to this secret
  secretName: webhook-server-cert
