apiVersion: v1
kind: Secret
metadata:
  name: kubeslice-admission-webhook-certs
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWtxZ0F3SUJBZ0lSQUxEclVranBGSzMrWXVCRHIrTnNwZ1F3Q2dZSUtvWkl6ajBFQXdJd0d6RVoKTUJjR0ExVUVBeE1RYlhrdGMyVnNabk5wWjI1bFpDMWpZVEFlRncweU1qQTBNRFl3TlRRek1EbGFGdzB6TWpBMApNRE13TlRRek1EbGFNQUF3Z2dFaU1BMEdDU3FHU0liM0RRRUJBUVVBQTRJQkR3QXdnZ0VLQW9JQkFRRFcweThCCmtMR0RKUlo5cm9aQ0E1ZXNndUpBckcrdU00RVVYNW5ZaElXZWdSanViU3FmMUM0dDF6NUUzV1lnQ3Y2NHRGbXQKZU5nYzUzZHFXMDhzdWJMeVBlYWtpQk81MW5QOTRwKzBRcWZnbUwwa0lpZHZBZVAzdzBCeXpWeXZTQmtEanBNYQpGSHBLSnA4QUc1NEZTTitTdkFhNHAySHFhbWIvM2tsMlp5MzlrRmFWcktmVk1Wb1EzRnJpaW1jQjFsVkZab3pRCmMzWndsNG9hdWJPR0F3S2tnbXFxNFNWOE9GakpmTXdNTmtpSjIyK3hTMGRaR0pSekhCV1FhU2tYRlBFQlA3M2QKRFYzWWJFRjlETWwzWTZTWTQrMm5uZG9XWG5TaUltZzBDSjNBQm1vUEhma3hkRnNXWTE1YVpBR3dMSGtwVENvMgo3NC8vMFVEMkFFK3Zzb2dIQWdNQkFBR2pnYjR3Z2Jzd0RnWURWUjBQQVFIL0JBUURBZ1dnTUF3R0ExVWRFd0VCCi93UUNNQUF3SHdZRFZSMGpCQmd3Rm9BVWJBQ2NIVUpaS3A3YkRlbEI4eXpsd0lSOG41c3dlZ1lEVlIwUkFRSC8KQkhBd2JvSXVhM1ZpWlhOc2FXTmxMWGRsWW1odmIyc3RjMlZ5ZG1salpTNXJkV0psYzJ4cFkyVXRjM2x6ZEdWdApMbk4yWTRJOGEzVmlaWE5zYVdObExYZGxZbWh2YjJzdGMyVnlkbWxqWlM1cmRXSmxjMnhwWTJVdGMzbHpkR1Z0CkxuTjJZeTVqYkhWemRHVnlMbXh2WTJGc01Bb0dDQ3FHU000OUJBTUNBMGNBTUVRQ0lCV2lCTUlXQU8rVGJ4QWkKVG84MW1iN1Jlc1JDQUZpeVFic044N1htcUxnUkFpQXZvT2JBRTN1L29oa0g1ZVlkQnZxYlVJWDNZaURka25McQo4SEhDd1JidkhBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  tls.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcFFJQkFBS0NBUUVBMXRNdkFaQ3hneVVXZmE2R1FnT1hySUxpUUt4dnJqT0JGRitaMklTRm5vRVk3bTBxCm45UXVMZGMrUk4xbUlBcit1TFJaclhqWUhPZDNhbHRQTExteThqM21wSWdUdWRaei9lS2Z0RUtuNEppOUpDSW4KYndIajk4TkFjczFjcjBnWkE0NlRHaFI2U2lhZkFCdWVCVWpma3J3R3VLZGg2bXBtLzk1SmRtY3QvWkJXbGF5bgoxVEZhRU54YTRvcG5BZFpWUldhTTBITjJjSmVLR3JtemhnTUNwSUpxcXVFbGZEaFl5WHpNRERaSWlkdHZzVXRICldSaVVjeHdWa0drcEZ4VHhBVCs5M1ExZDJHeEJmUXpKZDJPa21PUHRwNTNhRmw1MG9pSm9OQWlkd0FacUR4MzUKTVhSYkZtTmVXbVFCc0N4NUtVd3FOdStQLzlGQTlnQlByN0tJQndJREFRQUJBb0lCQUFuQlRVRWs4T3FqcElIUQppd2cwWVk3VDRySk5Ja1VtMFpXN1FhRXpZMTN2UHRLVTRucWZoL2xNN09ienBzK05zRU55N1IrVGZUelN4Zmx1CmJBbjc1TVJiU3ozdGIvZmdaU1FDUm41SkNKYUtXUXhyQUo5cDFwQkpyWU9KRDh4bDJienZuSDV5cjVydVpnbjcKTnhIR1hXQ3NhU0c1ZUJqTS9DQmlWN09vdTgzbnlybnBrbE9ZSUgzeDRtRUU5dU1JZDJKUXVNQnRTUnlTaG81cgppcC81dkI1NWNTNEtmRGZCVWM0cmtOb1FuYXBzQXRDSWhRbTcrdzVmT1hWc0gzOVFBT0JEMnBXN2pZbU9NZEVICm9zcUxpcVFDejdQelE4MFRQTUFFNWFHREE4Mjk3b1JFYlBRZXdxMG0yTUFrbWVtbkRiK3lNbm1NUTdtZ3UzdVUKVmNjZkp3RUNnWUVBN1o2WWJYb1JzNG1XRStZbkE5MFRFczBsbk5KWHJCQ1NQT1JsZnRHd1lOVVcvb1ZhWTF4WApnY1JzMVRUN1V5K01zMEN3TEN2MndhSndkNE8xTksvYTg1ZFJDdHR6Z3IxOHd3WXVJMGJLYlhuclRpN2I5VXBvClhBcElxTWRudmRYUnpLeURkTVdub2Fsb2gvbVhmNEo1SU5GQ0p0NGQxRFZzS2x6NFF4VGdlbU1DZ1lFQTUzRTAKTlJnbzd2UE5JWk1uaGoyWHNtY0tUdHlPbFRuYnZmMjM1cU51ZnJJSnUxU3g2empkUTh0N1p6ZHl1VGh4WWVYLwpHWnNtNnJMaC8xN05ycG94dHpKNHh0T25Wb2xwQXFqN09VVmpGNERwS2VhY0VNOThJZktNTDd1MmNGMnJUVjQ0CnNScjJ6bXdwSUJsMDd3OVdmazBJY3pKajNGRGtwZzRKVHc5aXV3MENnWUVBbC9ZdEZSWlQ2N1c1dk5BYmMyVVcKcFpkOHptWFdtN3VkU2tQbWhNd2xPRWdPaElkVDN1ZFhMeTRuUzlLdVIrekkxbm93TUkrTkp4aHpSSHQrajB0SApnekRxS3o5ZEIrZVd1a0poanozZWgxVEpIeDdvbkY0Umo0c2tISXdwMUVYQi9scjFWdUJ3Ni9valY1SlBTTVJ3CklvU3hBWnBiQ1RPQkVUYVRycExUWEhFQ2dZRUEyYjlGQ2lzSDRBRWEzdHJQRmRwL0RZY3FTSlh6dyt3aWxQYlAKZmJ3SHFrV2hLRkYvN3ptWjJ6M25oVzNDandiT2pmZlE4V3RxeXVldi93NVgzMDBOTnpuU0xlWldDdkhQRFlTawpqL1o3UzFLcWpCUitnc1pqR0tGVlNWZUhSdUtwMTJtdFZ0dHlselZsMytCemhyTmNnZ25CeUhnQlFmZ05sem1mCmduV01RMFVDZ1lFQTFpS29hUWlqeE9uRTk3WmFKc1FxaUFWNUhxWnd3eXlLNGYxcXh3d3FRVDFnbjBKb0tMTXIKVllkRFRybmFWWXd2U2xxRGZPYTlVcy9velpKaFlCRFpzUkFvRzhMWnpHUmhVNllQVlAvekdNUEQ1VVdBK29abwpzNHJxVlRqUGJsS1lBWlZrWDFnd3dOMUJaUVZQNnNEZDJ2cy9EdTRBdENBeEtSdHo0bU1UT3hVPQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
---
apiVersion: v1
kind: Service
metadata:
  name: kubeslice-webhook-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    control-plane: controller-manager
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: kubeslice-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkakNDQVIyZ0F3SUJBZ0lSQU5EeWdON2s5c0xMMm5pN21vUmdzMlF3Q2dZSUtvWkl6ajBFQXdJd0d6RVoKTUJjR0ExVUVBeE1RYlhrdGMyVnNabk5wWjI1bFpDMWpZVEFlRncweU1qQTBNRFl3TlRRek1EaGFGdzB6TWpBMApNRE13TlRRek1EaGFNQnN4R1RBWEJnTlZCQU1URUcxNUxYTmxiR1p6YVdkdVpXUXRZMkV3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFTc3BiaEtHVGFLYWZNUXh0WkdMckhIaE84V2F2MkVpT3pHWHR3Y3BrdjMKMTVTQTVRMXcwS1NINXR1U2NNNkNkeDNkYklaL0FrajNsQVk0dkp1TmE1NjNvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVWJBQ2NIVUpaS3A3YkRlbEI4eXpsCndJUjhuNXN3Q2dZSUtvWkl6ajBFQXdJRFJ3QXdSQUlnSTMwcTNnTVFheFRIMTJEMmcvMjlaNWh1RFdVVmx5czcKUXMvT2FVN25nTndDSUZKN2pWNmh0SjhYcHhhVjZ0U2pleWcyRlhXbWZxS1FQZm9JSnllWWlkVEMKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    service:
      name: kubeslice-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-appsv1-deploy
  failurePolicy: Ignore
  matchPolicy: Equivalent
  name: mdeploy.avesha.io
  rules:
  - apiGroups:
    - apps
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - deployments
  sideEffects: NoneOnDryRun
  namespaceSelector:
    matchExpressions:
    - key: name
      operator: NotIn
      values:
      - kube-system
      - {{ .Release.Namespace }}
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
      - kube-system
      - {{ .Release.Namespace }}
