name: end-to-end-test
on: push
jobs:
  end-to-end:
    runs-on: ubuntu-20.04
    steps:
    - name: checkout the repo
      uses: actions/checkout@v3
    - name: determine nodeip
      run:  sh .github/workflows/scripts/kind-nodeip.sh
    - name: create kind clusters
      run: sh .github/workflows/scripts/kind.sh
    - name: clone the e2e repo
      uses: actions/checkout@v3 
      with:
        repository: saivenkatesh1909/kubeslice-e2e
        token: ${{ secrets.PAT }}
        path: kubeslice-e2e
    - name: copy the kubeconfig
      run:  cp -r /home/runner/.kube/config /home/runner/work/worker-operator/worker-operator/kubeslice-e2e/assets/kubeconfig/config
    - name: check the pwd
      run: pwd
    - name: run the e2e
      uses: docker/build-push-action@v2
      with:
        file: /home/runner/work/worker-operator/worker-operator/kubeslice-e2e/test-prod.Dockerfile
        build-args: |
          PROFILE=profile_kind_two
        tags: end-to-end:latest
