name: end-to-end-test
on: push
jobs:
  end-to-end:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: determine nodeip
      run:  sh .github/workflows/scripts/kind-nodeip.sh
    - name: create kind clusters
      run: sh .github/workflows/scripts/kind.sh
    - name: check the kubeconfig 
      run: ls -R -ltra
    - name: clone the e2e repo
      uses: actions/checkout@v2 
      with:
        repository: saivenkatesh1909/kubeslice-e2e
        token: ${{ secrets.PAT }}