name: end-to-end-test
on: push
jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: determine nodeip
      run:  |
        sh .github/workflows/scripts/kind-nodeip.sh
      shell: bash
      
