name: end-to-end-test
on: push
jobs:
  end-to-end:
    runs-on: ubuntu-20.04
    steps:
    - name: checkout the repo
      uses: actions/checkout@v3
    
    - name: build the worker-operator
      uses: docker/build-push-action@v2
      with:
        tags: worker-operator:latest
        push: false

    - name: determine node-ip
      run:  sh .github/workflows/scripts/kind-nodeip.sh
    
    - name: create kind clusters
      run: sh .github/workflows/scripts/kind.sh
    
    - name: clone the e2e repo
      uses: actions/checkout@v3 
      with:
        repository: saivenkatesh1909/kubeslice-e2e-automation
        token: ${{ secrets.PAT }}
        path: kubeslice-e2e-automation
  
    - name: Execute E2E 
      run: |
        ls -lrta
        cd kubeslice-e2e-automation
        make docker

    - name: Docker Run Action
      uses: addnab/docker-run-action@v3
      with:
        image: kubeslice-e2e:latest
        shell: bash
        options: -v ${{ github.workspace }}/reports:/e2e/reports -v /home/runner/.kube/config:/e2e/assets/kubeconfig/kind.yaml
        run: |
           ls
           pwd
           bash run.sh kind  #need to create a profile

    - name: docker image list
      run: |      
        docker images

    - name: Checkout gh-pages repo
      uses: actions/checkout@v3
      with:
        repository: saivenkatesh1909/kubeslice-e2e-automation
        path: gh-pages
        token: "${{ secrets.PAT }}"
        ref: 'gh-pages'
  
    - name: list directory after cloning gh pages
      run: |
        ls -lrta kubeslice-e2e-automation
        ls -lrta
          
    - name: Allure Report with history
      uses: PavanMudigonda/allure-html-reporter-github-pages@v1.0
      id: Allure_report_with_history
      with:
        # Allure test result data dir
        allure_results: reports
        # Allure report target dir
        allure_report: allure_report
        # allure_history
        allure_history: allure-history
        gh_pages: gh-pages
        # Keep X last reports
        keep_reports: 20
       #GitHub Actions run id
        github_run_id: ${{ github.run_id }}
        github_run_num: Kind-${{ github.run_number }}
        report_url: https://redesigned-waffle-199de3ac.pages.github.io
        test_env: Kind
          
    - name: Deploy report to Github Pages
      # if: always()
      uses: peaceiris/actions-gh-pages@v2
      env:
        PERSONAL_TOKEN: ${{ secrets.TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: allure-history
        keep_files: true
