name: end-to-end-test
on:
  pull_request:
    branches: master
jobs:
  end-to-end:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: determine nodeip
      run:  sh .github/workflows/scripts/kind-nodeip.sh
    - name: create kind clusters
      run: sh .github/workflows/scripts/kind.sh
    - name: check the kubeconfig repo
      run: ls -R /home